:root {
  font-family:  sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: rgb(255, 255, 255);
  color: #010101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin:  0.05rem;
  display: grid;
}

.container {
  background-color: #ffffff;
  display: grid;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  background-image: url('/images/bg/bg.jpg');
  background-size: cover;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline-block;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;

  }
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
}



.social-icons a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* NAVIGATION */

/* Media query for mobile devices */
@media (max-width: 768px) {
  .website-name span{
    font-size: 1rem;
    margin-bottom: -0.5rem;
    color: #242424;
  }  
  .logo {
    width: 40px;
    margin-left: -15px;
  }
  .logo-container {
    display: flex;
    flex-direction: row;

    align-items: center;
  }
  .website-name p {
    display: flex;
    width: 50px;
    font-size: 0.5rem;
    color: #242424c1;
    font-style: italic;
    white-space: nowrap;
  }
  
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .website-name span{
    font-size: 1.4rem;
    margin-bottom: -1rem;
    color: #242424;
  }  
  .logo {
    width: 50px;
    margin-left: -15px;
    padding: 5px 0;
  }
  .logo-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .website-name p {
    margin-left: 50px;
    width: 50px;
    font-size: 0.8rem;
    color: #242424c1;
    font-style: italic;
    white-space: nowrap;
  }
  
}






.nav {
  background-color: rgba(255, 255, 255, 0.147);
  color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;

  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    justify-content: right;
    display: flex;
    gap: 0.8rem;
    font-size: 0.8rem;
  }
  
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    justify-content: right;
    display: flex;
    gap: 0.8rem;
    font-size: 1.2rem;
  }
  
}



.nav li {
  display: inline-block;
  position: relative;
}

.nav a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.nav a.active {
  color: #6B73FF;
}

.nav a:hover {
  font-weight: 500;
  color: #6B73FF;
  text-decoration: none;
}

.nav .nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
}












/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav .dropdown:hover .dropdown-menu,
  .nav .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 80px;
    margin: 2px 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }  
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .nav .dropdown:hover .dropdown-menu,
  .nav .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 150px;
    margin: 2px 2px;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  
}



.nav .dropdown-menu .dropdown-item {
  padding: 10px;
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.nav .dropdown-menu .dropdown-item:hover {
  background-color: #f5f5f5;
  font-weight: 500;
  color: #6B73FF;
  text-decoration: none;
}

.nav .dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  margin: 0.5rem 0;
}























/* FOOTER */
.footer {
  background-color: #6B73FF;
}

.footer .row {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  word-wrap: balance;
  color: white

}

.footer .col {
  flex: 1 0 25%;
  padding: 10px;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  color: white
}

.footer a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.footer a.active {
  color: #fedc97;
}

.footer a:hover {
  font-weight: 500;
  color: #fedc97;
  text-decoration: none;
}

@media (max-width: 768px) {
 .footer .col {
    flex: 1 0 100%; 
  }
}

.footer .col ul {
  text-decoration: none;
  list-style: none;
  color: white
  
}

.footer p{
  background-color: #ffffff;
  border-color: 1px solid red;
  text-align: center;
  padding: 0.5rem;
}
