.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.services-container h1 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 200px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card li {
  margin-top: 0;
  font-size: 1.2rem;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.card-content p {
  margin-bottom: 0;
}
  